# NOTE: If you update .gitignore, make sure to update the `git_clean` rule in
# Makefile, and the loc function in stats.sh, and the `findex` and `findexx`
# functions in `.helpers`.

# MacOS system files.
.DS_Store

# Python artifacts.
__pycache__
coptic.egg-info

# TypeScript artifacts.
node_modules
package-lock.json
package.json

# Pre-commit artifacts
.my_pycache
.ruff_cache

# Flashcard decks are too big to host on GitHub.
flashcards/data/output/anki/coptic.apkg

# This contains secrets (authorization tokens for Drive, local file paths,
# idiosyncratic flag values, ...).
# You have to create your own version of this file in order to be able to
# execute some of the pipelines. See .env_INFO.
.env
