# NOTE: If you update .gitignore, make sure to update the `git_clean` rule in
# Makefile, and the loc function in stats.sh, and the `findex` and `findexx`
# functions in `.helpers`.

# MacOS system files.
.DS_Store

# Python artifacts.
__pycache__
coptic.egg-info/

# TypeScript artifacts.
node_modules

# Pre-commit artifacts
.mypy_cache
.ruff_cache

# Flashcard decks are too big to host on GitHub.
flashcards/data/output/anki/

# EPUB files are large (though not too large for GitHub). We don't persist them
# for the following reasons:
# 1. To save some space, and keep our repo size under control. (#139)
# 2. Because the pipeline is nondeterministic, meaning that running it twice
# would produce different results, which dirties our worktree and makes some
# operations complex. (#152, #220)
# 3. We publish them to Drive, and this has generally been our approach towards
# "opaque" data that gets published. It's opaque in the sense that we can't run
# `git diff` against it to inspect the impact that a given change has on the
# output data. The Bible EPUB has a `diff`-able counterpart, namely the HTML.
bible/stshenouda.org/data/output/epub/

# This contains secrets (authorization tokens for Drive, local file paths,
# idiosyncratic flag values, ...).
# You have to create your own version of this file in order to be able to
# execute some of the pipelines. See .env_INFO.
.env
