# N.B. If you update .gitignore, make sure to update the `git_clean` rule in
# Makefile.

# Garbage.
.DS_Store
__pycache__
coptic.egg-info

# Flashcard decks are too big to host on GitHub.
flashcards/data/output/anki/*.apkg

# This contains secrets (authorization tokens for Drive, local file paths,
# idiosyncratic flag values, ...).
vault.sh
