bs4
colorama
darglint
EbookLib
genanki
google-auth
google-auth-stubs
gprof2dot
gspread
json5
matplotlib
mypy
openpyxl
pandas
pandas-stubs
pip-tools
pre-commit
requests
types-beautifulsoup4
types-colorama
types-requests
types-setuptools
urllib3
virtualenv
