bs4
colorama
darglint
ebooklib
genanki
google-auth
google-auth-stubs
gprof2dot
gspread
json5
markdown
matplotlib
mypy
openpyxl
pandas
pandas-stubs
pip-tools
pre-commit
pyyaml
regex
requests
typeguard
types-beautifulsoup4
types-colorama
types-markdown
types-pyyaml
types-regex
types-requests
types-setuptools
urllib3
virtualenv
