beautifulsoup4
colorama
darglint
ebooklib
genanki
google-auth
google-auth-stubs
gprof2dot
gspread
markdown
matplotlib
mypy
pandas
pandas-stubs
pip-tools
pre-commit
pyyaml
regex
requests
typeguard
types-colorama
types-markdown
types-pyyaml
types-regex
types-setuptools
