--index-url https://pypi.org/simple
bs4
clipboard
colorama
dead
EbookLib
genanki
gprof2dot
gspread
gspread_dataframe
json5
markdown
matplotlib
mypy
oauth2client
openpyxl
pandas
pandas-stubs
pathlib
Pillow
pip-review
pre-commit
setuptools
types-beautifulsoup4
types-colorama
types-requests
typing
urllib3
