bs4
clipboard
colorama
dead
EbookLib
genanki
gspread
json5
markdown
mypy
oauth2client
openpyxl
pandas
pandas-stubs
pathlib
Pillow
pip-review
pre-commit
setuptools
type_enforced
types-beautifulsoup4
types-colorama
typing
urllib3
types-requests
