/* Styling for a Bible chapter. */

.title {
  /* The title shows in the middle. */
  text-align: center;
}

table {
  /* Break long words. */
  overflow-wrap: break-word;
  word-break: break-word;
}

td {
  /* The content of the cell aligns towards the top. */
  vertical-align: top;

  /* A very light, thin border */
  border-bottom: 1px solid #e0e0e0;

  /* Add padding to give the text room to breathe. */
  padding: 1em 0.5em;
}

tr:last-child td {
  /* Remove the border from the very last row. */
  border-bottom: none;
}

#bar,
#tray {
  font-style: italic;
  color: gray;
}

#bar {
  display: flex; /* Establish a flex container. */
  margin-top: 10px;
  margin-bottom: 10px;
}

#bar label {
  flex: 1; /* Allow each label to grow and take up equal space. */
  text-align: center; /* Optional: centers text inside the growing label. */
}

#tray {
  /* By default, the tray is hidden and the bar is visible. */
  display: none;
}

@media (width <= 500px) {
  /* Hide the language bar. */
  #bar {
    display: none;
  }

  /* Show the language tray instead. */
  #tray {
    display: block;
    float: right;
  }

  /* Push the title to the left, so it will show next to the language tray. */
  .title {
    float: left;
  }

  /* Reduce the cell padding. */
  td {
    padding: 0.25em 0.125em;
  }
}
