h1,h2,h3,strong {
  color: #2C3E50;
}

h1 {
  text-align: center;
}

a,.link {
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
}

.hover-link {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

a:hover,.link:hover,.hover-link:hover,.collapse:hover {
  color: #3498DB;
  cursor: pointer;
  text-decoration: underline;
}

em {
  color: #7f8c8d;
}

figure {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.centerer {
  text-align: center;
  display: flex;
  place-content: center center;
}

figure img {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
  margin: 0;
}

figcaption {
  color: #7f8c8d;
  font-size: 0.9em;
}

hr {
  border: 1px solid #ddd;
  margin: 30px 0;
}

/* Add some padding to body content */

body {
  font-family: Arial,sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

/* Style download links */

a.download,.download-list li a {
  background-color: #3498DB;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 2px 0;
  padding: 2px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.results thead tr {
  border-bottom: 1px solid black;
}

.results tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}

.results td:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 5px;
}

/* Responsive table layout for mobile */

@media (width <= 500px) {
  figure img:not(.logo) {
    height: auto;
    width: 100%;
  }

  hr {
    margin: 10px 0;
  }

  /* Center and space checkboxes for small screens */

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .checkboxes label {
    margin-right: 10px;
  }

}

.inline-list {
  padding: 20px;
}

.inline-list li {
  display: block;
  float: left;
  margin: 0 20px;
  padding: 0;
}

/* KELLIA */

.orth {
  width: 50%;
}

.geo {
  color: darkred;
  width: 10%;
  text-align: center;
}

/* stylelint-disable selector-class-pattern */

.gram_grp {
  color: gray;
  font-style: italic;
}

/* stylelint-enable selector-class-pattern */

.bibl {
  color: gray;
  width: 30%;
  text-align: right;
}

.ref {
  color: gray;
}

.meaning {
  width: 70%;
}

.xr {
  color: gray;
}

.lang {
  color: gray;
}

/* Collapsible Elements */

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* Logos */

.logo {
  height: 100px;
}

.inline-logo {
  height: 20px;
}

/* Crum */

/* TODO: (#241) Use classes that represent types, rather than desired behaviour.
*  Otherwise, this doesn't represent real decoupling of the style from the HTML.: */

.card {
  font-size: 18px;
}

.bordered {
  border: 1px solid black;
}

/* stylelint-disable selector-class-pattern */

.nightMode .bordered {
  border: 1px solid white;
}

/* stylelint-enable selector-class-pattern */

.front {
  text-align: center;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.light {
  opacity: 0.7;
}

.heavy {
  opacity: 1.0;
}

.lighter {
  opacity: 0.7;
}

.very-light {
  opacity: 0.3;
}

.nag-hammadi {
  opacity: 0.5;
}

.logo-list {
  text-align: center;
  table-layout: fixed;
}

.header {
  table-layout: fixed;
  width: 100%;
}

.header td:not(:first-child) {
  border-left: 1px solid #ddd;
}

.small {
  font-size: small;
}

.italic {
  font-style: italic;
}