/* The `arabic` class is used in other places in Lexicon, and we want the rule
 * below to only apply to Andreas notes, so we make it more specific.
 * It only applies in the Andreas Flashcards (`.card`), or in the Lexicon under
 * `#andreas`. */
.card,
body.lexicon #andreas {
  & .arabic {
    direction: rtl;
    display: block;
  }

  & .hebrew {
    color: brown;
    direction: rtl;
    display: block;
  }
}
