/* Use italic for the form labels. */
#highlight-dialects,
#full-word-checkbox-label,
#regex-checkbox-label {
  font-style: italic;
}

/* On a wide screen, use 80% of the width. */
.search-box input {
  width: 80%;
}

/* On a wide screen, hide the drop-down menu, and the keyboard.
 * TODO: (#453) Show the keyboard on desktop once you have instructions for how
 * to install a keyboard on desktop.
 * */
.dropdown,
#keyboard {
  display: none;
}

/* Narrow screen rules: */
@media (width <= 500px) {
  /* Increase the width of the search box. */
  .search-box input {
    width: 95%;
  }

  /* Hide the spelled-out checkboxes. */
  #checkboxes {
    display: none;
  }

  /* Show the drop-down checkboxes and the keyboard. */
  .dropdown,
  #keyboard {
    display: inline;
  }

  /* Shrink the space between the form and the results. */
  .lexicon-form-separator {
    margin-top: 5px;
    margin-bottom: 0;
  }

  /* Shrink the space around the error message. */
  #message {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Slightly reduce the height of the title. */
  #title {
    height: 90%;
    line-height: 1;
  }
}

/* Dim Crum's types. */
.results#crum .type {
  opacity: 0.3;
}
