
 .card {
     font-size: 18px;
}
 .nightMode .bordered {
     border:1px solid white;
}
 .front {
     text-align: center;
}
 .bordered {
     border:1px solid black;
}
 .left {
     float: left;
}
 .center {
     text-align: center;
}
 .right {
     float:right;
}
 .link {
     color: blue;
     cursor: pointer;
     text-decoration: underline;
}
 .hover-link:hover {
     color: blue;
     cursor: pointer;
     text-decoration: underline;
}
 .light {
     opacity:0.7;
}
 .heavy {
     opacity:1.0;
}
 .very-light {
     opacity:0.3;
}
 figure figcaption {
     text-align: center;
}
 figure img {
     vertical-align: top;
}
 figure {
     border: 1px transparent;
     display: inline-block;
     margin: 10px;
}
