 .card {
     font-size: 18px;
}
 .nightMode .bordered {
     border:1px solid white;
}
 .front {
     text-align: center;
}
 .bordered {
     border:1px solid black;
}
 .left {
     float: left;
}
 .center {
     text-align: center;
}
 .right {
     float:right;
}
 .link {
     color: blue;
     cursor: pointer;
     text-decoration: underline;
}
 .hover-link {
     color: inherit;
     cursor: inherit;
     text-decoration: inherit;
}
 .hover-link:visited {
     color: inherit;
     cursor: inherit;
     text-decoration: inherit;
}
 .hover-link:hover {
     color: blue;
     cursor: pointer;
     text-decoration: underline;
}
 .light {
     opacity:0.7;
}
 .heavy {
     opacity:1.0;
}
 .lighter {
     opacity:0.7;
}
 .very-light {
     opacity:0.3;
}
 .nag-hammadi {
     opacity:0.5;
}
 figure figcaption {
     text-align: center;
}
 figure img {
     vertical-align: top;
}
 figure {
     border: 1px transparent;
     display: inline-block;
     margin: 10px;
}
 .header {
     table-layout: fixed;
     width: 100%;
 }
 .small {
     font-size: small;
 }
 .italic {
     font-style: italic;
 }
